<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cattronics.mahbub.irrigationmonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CropNet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyActivity"
            android:label="Daily Node Data" />
        <activity
            android:name=".weekly"
            android:label="Weekly Node Data" />
        <activity
            android:name=".Agnomist"
            android:label="Agronomist Suggestions" />
        <activity
            android:name=".ConditionAnalysis"
            android:label="Condition Analysis" />
        <activity
            android:name=".temp"
            android:label="Temperature Condition" />
        <activity
            android:name=".Humidity"
            android:label="Humidity Condition" />
        <activity
            android:name=".Moisture"
            android:label="Moisture Condition" />
        <activity android:name=".ManualSensorData"></activity>
    </application>

</manifest>